.disabled {
    opacity: .65!important;
}

#wpfooter {
    position: relative!important;
}

.container-btn {
    display: flex;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}